@media only screen and (min-width: 200px) {
    .searchbarContainer{
        display: flex;
        height: 40px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        background-color: beige;
    }

    .searchbarContainer input{
        width: 40%;
        height: 80%;
        margin-right: auto;
        margin-left: 0px;
        background-color: beige;
        border: 0px;
        padding: 0px;
        color: #050505;
        border-color: beige;
    }

    #btViewFavourite{
        margin-right: auto;
    }

    .searchbarContainer input::placeholder {
        color: #888;
      }

    .searchbarContainer input:focus{
        border: 0px;
        border-color: beige;
        padding: 0px;
        outline: none;
      }

    .searchbarContainer button{
        background-color: beige;
        padding: 5px;
        border:0px;
    }

    .searchbarContainer span{
        display: flex;
        height: 100%;
        align-items: center;
        margin-bottom: auto;
        margin-top: 2px;
    }

    .searchbarContainer button i{
        color:#cfcece;
        margin-right: 5px;
    }

    .separadorVertical {
        border-left: 2px solid #cfcece; /* Puedes ajustar el color y grosor del borde según tus preferencias */
        height: 70%; /* Ajusta la altura según tus necesidades */
        margin: 0 10px; /* Ajusta el margen según tus necesidades */
      }
    .logoBar{
        width: auto;
        height: 50%;
        margin-left: 20px;
        cursor: pointer;
    }

    .starBar {
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
        border: 0px;
        padding: 0px;
        margin:0px;
        cursor: pointer;
        margin-right: 35px;
    }


    .starBar i{
        color: #888;
    }

    .starBar i:hover{
        color: #525151;
        transition: all 0.4s ease-in-out;
    }

    .starBar:not(:hover){
        transition: all 0.4s ease-in-out;
    }

    #starBarviewFavourite i{ 
        color:#525151!important;
    }


   
  
    }
    
    @media only screen and (min-width: 600px) {

        .logoBar{
            height: 60%;
        }
     
    }
    
    /*Extra large devices(large laptops and desktops, 1200px and up)*/
    @media only screen and (min-width: 1200px) {
    
        .logoBar{
            height: 70%;
        }
    
    }
  