.contenedorFavourite{
    width: 100%;
    height: auto;
    background-color: rgb(224, 224, 219);

}

.contenedorCardsFav{
 
    display: grid;
    justify-content: center;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
   gap:34px;
   margin: 50px;
   
    }