@media only screen and (min-width: 200px) {
    .contenedorDetailcomic {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: auto;
        background-color: rgb(224, 224, 219);
        margin-top: 20px;
    }

    .descriptionComic {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        margin: 5px 25px 25px 25px;
    }

    .descriptionComic h1 {
        text-align: left;
        font: normal normal bold 10px/12px;
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0px;
        color: #3E3E3E;
        padding: 0px;
        margin-bottom: 15px;
        margin-top: 0px;
    }

    .descriptionComic h3 {
        text-align: left;
        font: normal normal normal 18px/21px;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0px;
        color: #3E3E3E;
        margin: 0px;
        padding: 0px;
    }

    .descriptionComic p {
        text-align: left;
        font: normal normal 300 18px/21px Montserrat;
        letter-spacing: 0px;
        color: #3E3E3E;
        margin-top: 15px;
        font-size: 16px;
    }

    .ImagenComic{
        display: flex;
        width: 100%;
        justify-content: center;
        margin:10px
    }

    .ImagenComic img {
        width: 90%;
        height: auto;
    }


}

@media only screen and (min-width: 600px) {

    .contenedorDetailcomic {
        flex-wrap:nowrap;
        margin-top: 35px;
    }

    .descriptionComic {
        width: 300px;
        height: auto;
        margin: 0px 25px 25px 25px;
    }

    .descriptionComic h1 {
        font: normal normal bold 25px/21px;
        font-size: 25px;
        margin-bottom: 45px;
    }

    .descriptionComic p {
        font: normal normal 300 18px/21px Montserrat;
        margin-top: 50px;
    }

    .ImagenComic img {
        width: 100%;
        height: auto;
    }

    .ImagenComic{
        display: flex;
        width: 300px;
        justify-content: center;
        margin:0px;
    }
    
}

/*Extra large devices(large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {

    .contenedorDetailcomic {
        flex-wrap:wrap;
    }

    .descriptionComic {
        width: 530px;
        height: 764px;
    }

    .ImagenComic img {
        width: 545px;
        height: 838px;
    }

    .ImagenComic{
        display: flex;
        width: 545px;
        justify-content: center;
        margin:0px 10px 10px 10px
    }
}