.DivCard {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 1;
    max-width: 256px;
    max-height: 380px;
    box-shadow: 0 0 30px #979696;
    border-radius: 10px;
    aspect-ratio: 1 / 1.5
}

.DivCard:hover{
    transition: all 0.3s ease-in-out;
}

.DivCard:not(:hover){
    transition: all 0.3s ease-in-out;
}


.buttonFavorite {
    position: absolute;
    right: 13px;
    top: 17.51px;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}

.buttonFavorite i {
    color: beige;
}

.Divimg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.Divimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.Divimg:hover img {
    transform: scale(1.1);
}

.Divtext {
    position: absolute;
    left: 23px;
    bottom: 27px;
}


.Divtext h2 {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font: normal normal bold 19px/23px SF UI Text;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    opacity: 1;
}